
.backWrapper  span {
    color : var(--colorD);
    margin : 5px 5px
}
.backWrapper h1 {
    font-size : 16px;
    cursor:pointer
}
.backWrapper{
    cursor : pointer;
    margin : 2vh 5vw  ;
    margin-bottom : 0;
    align-items: center;
    display : flex;
    flex-direction: row;
}