.videoWrapper   {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 270px;
    width : fit-content;
    margin: 2vh 2vw ;
    cursor : pointer;
    transition: transform .2s; /* Animation */
    
}

.videoWrapper :first-child{
    margin-left:0
}



.videoWrapper:hover  {
    z-index: 2;
    transform: scale(1.2);
    margin:2vh 3.5vw ;
}
.videoWrapper h2 {
    font-size : 14px;
    text-align: center;
    align-items: center;
    max-width : 24vw

}
.videoWrapper p {
    margin-top: 0 ;
    text-align: start;
    font-size: 15px ;
    line-height: 16px;
    height: 16vh;
    overflow: hidden;
    max-width : 24vw

}
.videoWrapper div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size:12px;
}

