.mainSuggestionsWrapper  h1 {
    font-size : 24px;
    width : 100%;
    margin : 10vh 3vw 0px ;
}
.mainSuggestionsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mainSuggestionsWrapper h3 {
    margin : 7vh 40vw;
    font-size : 24px ; 
    color : var(--colorC)
}   
.mainSuggestionsWrapper h3 label {
    font-size: 16px;
    color : var(--colorA)
}